/* Feel free to add any useful code */
/* This will help you scroll just the content of your app. Eg:
  <header class="fixed">
  ...
  <article class="scrollable header">
*/

html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  display: block;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}

/* Setting proper paddings and margins */
.content {
  padding: 1.5rem;
}


table {
  width:50%;
  border-top:1px solid #e5eff8;
  /*border-right:1px solid #e5eff8;*/
  margin:1em auto;
  border-collapse:collapse;
}
td{
  color:#678197;
  border-bottom:1px solid #e5eff8;
  /*border-left:1px solid #e5eff8;*/
  padding:.3em 1em;
  text-align:center;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

.center {
  text-align: center;
}

/* Fonts */
h1 { /* Main header */
  color: #294B67;
  font-size: 2.5rem;
  font-weight: normal;
}

h2 { /* Subheader, Dialog title */
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

p.large { /* Dialog body */
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}

p.alt { /* Body medium, Buttons */
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}

p.small { /* Status bar */
  font-size: 1.5rem;
  line-height: 2rem;
}

p.mini { /* Fine print */
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p.micro { /* App icon label */
  font-size: 1.3rem;
  line-height: 1.8rem;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

/* Themes */
.skin-dark { background: #000; }
.skin-organic { background: #f4f4f4; }
